html,
body {
  background: #000;
  color: #fff;
  font-family: monospace;
  height: 100%;
  margin: 0;
}

body {
  align-content: center;
  display: grid;
  font-size: 4.5vw;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 1em 0.5em;
}

.line {
  display: contents;
}

.line.from > *,
.line.to > * {
  opacity: 0;
}

.display-real-times .line.from > *,
.display-real-times .line.to > * {
  opacity: 0.5;
}
